@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme{
  --font-inter: "Inter", sans-serif;
  --color-first-page: #043873;
  --color-btn-free-trial: #4F9CF9;
  --color-image-container: #C4DEFD;
  --color-btn-login: #FFE492;
  --color-line: #2E4E73;
  --color-card-btn: #FFE492;
 
  --text-header4: 1.980rem;
  --breakpoint-xl: 72rem;
  --breakpoint-2xl:  90rem;
  --breakpoint-4xl: 120rem;
}

/*---------------*/
/*  FIRST PAGE   */
/*---------------*/
.first-page{
  @apply bg-first-page flex flex-col items-center xl:flex-row px-4 py-20 md:px-20 md:pt-35 md:pb-25 xl:px-8 xl:py-35 2xl:py-25 4xl:px-55 4xl:py-35 xl:gap-4 bg-[url('/src/assets/Element.png')] bg-no-repeat bg-cover bg-center
}

.block-1{
   
}

.text-container{
  @apply font-inter text-white text-center xl:text-start
}

.heading-1{
  @apply text-[clamp(2.25rem,_3vw,_3.374rem)] font-bold mb-6 md:text-[clamp(3.375rem,_10vw,_4rem)] 
}

.description-1{
  @apply text-[1.125rem] leading-[1.875rem] 
}

.image-container-1{
  @apply bg-image-container w-[17.875rem] md:w-[34.4375rem] h-[11.9375rem] md:h-[22.9375rem] xl:w-[32.875rem] xl:h-[21.90rem] 2xl:w-[42.875rem] 2xl:h-[28.5rem] xl:flex-1
}

.image-element{
  @apply  w-full h-full
}
/*SECOND PAGE*/
.work-management{
  @apply bg-white px-4 py-20  md:px-5 md:py-25 xl:px-8 xl:py-35 4xl:px-55
}

.get-started{
  @apply flex flex-col text-center xl:text-start xl:max-w-5/6 xl:w-full 2xl:max-w-full 
}

.btn-get-started{
  @apply bg-btn-free-trial rounded-lg w-50 h-18 flex items-center justify-center gap-4 text-white 
}

.text-block{
  @apply bg-[url('/src/assets/content1/Element.png')]
}


/*-------------*/
/* THIRD PAGE  */
/*-------------*/

.third-page{
  @apply bg-first-page text-white px-4 py-20 md:px-5 md:py-25 xl:px-8 xl:py-35 4xl:px-55
}

.heading3{
  @apply flex flex-col
}

.text-block2{
  @apply text-center xl:text-start
}

.illustration{
  @apply bg-image-container max-w-8/10 w-full min-h-[191px] self-center md:min-h-[367px]
}

/*-------------*/
/* Fifth Page */
/*-------------*/
.heading-5{
  @apply 
}

/*-------------*/
/* Eighth Page */
/*-------------*/
.sponsors-container{
  @apply flex flex-col gap-25 items-center xl:flex-row xl:justify-between
}

/*-------------*/
/* Ninth Page */
/*-------------*/
.ninth-page{
  @apply bg-first-page px-4 py-20 md:px-5 md:py-35 xl:px-8 4xl:px-55 flex flex-col gap-25 items-center xl:flex-row xl:justify-between 
}

.heading-9{
  @apply text-[clamp(2.25rem,_3vw,_3.374rem)] font-bold mb-6 md:text-[clamp(3.375rem,_10vw,_4rem)] xl:text-[clamp(4rem,_20vw,_4.5rem)]
}